<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Building List</h1>
        </div>

    </div>

    <div class="row" ng-repeat="building in buildings">

        <div class="col-md-12">
            <h3>{{building.name}}
            </h3>
            <p>{{building.desc}}</p>
            
            <table class="table table-condensed buildings-table">
                <thead>
                    <tr>
                        <td>Level</td>
                        <td>Coste</td>
                        <td>Beneficio</td>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat-start="level in building.levels | orderBy:'level'" style="border-botom: none;">
                        <td>{{level.level}}</td>
                        <td>
                            <span ng-repeat="cost in level.cost">
                                <byv-resource></byv-resource>
                            </span>
                        </td>
                        <td>
                            <span ng-repeat="cost in level.profit">
                                <byv-resource></byv-resource>
                            </span>
                        </td>
                    </tr>
                    <tr ng-repeat-end class="level-row">
                        <td></td>
                        <td colspan="2">
                            <span byv-resource-inline type="action"><b>Acción:</b> {{text}}</span>
                            <div style="clear: both"></div>
                            <span byv-resource-inline type="inAction"><b>Acción Inmediata:</b> {{text}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>
<!-- /.container -->